<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Our Catalog
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToAdd()">
        <ion-icon name="add-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong> We Propose these new courses : </strong>
  <ion-list>
    <ion-item *ngFor="let c of tab" [routerLink]="['detail', c.id]">
      <ion-avatar class="ion-margin-horizontal">
        <img [src]="c.image">
      </ion-avatar>
      {{ c.title }}
    </ion-item>

  </ion-list>



</ion-content>